/* ===== CSS VARIABLES ===== */
:root {
  --header-height: 60px;
}

/* ===== RESET ===== */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===== GLOBAL ===== */
html,
body {
  height: 100%;
  background: #07070a;
  font-family: "Clash Grotesk", system-ui, sans-serif;
  overflow: hidden; /* quan tr·ªçng */
}

a {
  color: inherit;
  text-decoration: none;
}
.app {
  height: 100vh;
}

.main {
  margin-top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}
html,
body {
  margin: 0;
  padding: 0;
}
